@model HymnStocks.Models.HymnInfo

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>HymnInfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HymnName" class="control-label"></label>
                <input asp-for="HymnName" class="form-control" />
                <span asp-validation-for="HymnName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CopyRight" class="control-label"></label>
                <input asp-for="CopyRight" class="form-control" />
                <span asp-validation-for="CopyRight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HymnLanguage" class="control-label"></label>
                <input asp-for="HymnLanguage" class="form-control" />
                <span asp-validation-for="HymnLanguage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublishDate" class="control-label"></label>
                <input asp-for="PublishDate" class="form-control" />
                <span asp-validation-for="PublishDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <input asp-for="Remarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary btn-outline-dark" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
